<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.show0017.anaconda" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>show0017</name>
    <description>
        A sample application to test single page application.
    </description>
    <author email="show0017@algonquinlive.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <platform name="android">
<!--  <div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>-->
      <icon src="www/img/ic_launcher_snake_mdpi.png" density="mdpi" />
      <icon src="www/img/ic_launcher_snake_hdpi.png" density="hdpi" />
      <icon src="www/img/ic_launcher_snake_xhdpi.png" density="xhdpi" />
      <icon src="www/img/ic_launcher_snake_xxhdpi.png" density="xxhdpi" />
      <icon src="www/img/ic_launcher_snake_xxhdpi.png" density="xxxhdpi" />
    </platform>

</widget>
